# git ignore configure file
.idea*
# git ignore test file
mytest/*
**/__pycache__/*
test*/
**/.ipynb*
.vscode/
**/*.csv
KNN/__pycache__/
action/kebi/kobi.ipynb
algorithm/new_file
ml/creditcard/creditcard_oversample.ipynb
ml/ensamble_learning/logs/
ml/ensamble_learning/model1.joblib
ml/ensamble_learning/model2.joblib
ml/ensamble_learning/model3.joblib
ml/ensamble_learning/nn_model.h5
ml/spam_classifier/email/
nlp/
operate_sys/banker_algorithm.py
recomend/ml-100k/README
recomend/ml-100k/allbut.pl
recomend/ml-100k/mku.sh
recomend/ml-100k/u.data
recomend/ml-100k/u.genre
recomend/ml-100k/u.info
recomend/ml-100k/u.item
recomend/ml-100k/u.occupation
recomend/ml-100k/u.user
recomend/ml-100k/u1.base
recomend/ml-100k/u1.test
recomend/ml-100k/u2.base
recomend/ml-100k/u2.test
recomend/ml-100k/u3.base
recomend/ml-100k/u3.test
recomend/ml-100k/u4.base
recomend/ml-100k/u4.test
recomend/ml-100k/u5.base
recomend/ml-100k/u5.test
recomend/ml-100k/ua.base
recomend/ml-100k/ua.test
recomend/ml-100k/ub.base
recomend/ml-100k/ub.test
recomend/ml-1m/README
recomend/ml-1m/movies.dat
recomend/ml-1m/ratings.dat
recomend/ml-1m/users.dat
